* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
}
window#waybar {
    background-color: alpha(#3c3836, 1);
    color: #ebdbb2;
}

#workspaces button {
    background-color: alpha(#282828, 1);
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    color: #ebdbb2;

    border-radius: 5px;
}

#workspaces button:hover {
    background: #ebdbb2;
    color: #282828;
    box-shadow: inherit;
    text-shadow: inherit;
    border: transparent;
}

#workspaces button.active {
    background-color: #b5c9c2;
    color: #282828;
}

#workspaces button.urgent {
    background-color: #fabd2f;
    color: #282828;
}

#network {
    background-color: alpha(#282828, 1);
    color: #ebdbb2;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

#pulseaudio {
    background-color: alpha(#282828, 1);
    color: #ebdbb2;
    padding-right: 10px;
    padding-left: 10px;
	  border-radius: 5px;
}

#clock {
	  background-color: alpha(#282828, 1);
	  color: #ebdbb2;
	  padding-right: 10px;
	  padding-left: 10px;
	  border-radius: 5px;
}

#tray {
	  background-color: alpha(#282828, 1);
	  padding-right: 10px;
	  padding-left: 10px;
	  border-radius: 5px;
}

#temperature {
    color: alpha(#83a598, 1);
}

#temperature.warning {
    color: alpha(#d79921, 1);
}

#temperature.critical {
    color: alpha(#cc241d, 1);
}

#stats {
    background-color: alpha(#282828, 1);
    padding-right: 10px;
	  padding-left: 10px;
	  border-radius: 5px;
}
